
/* Your CSS Code here. */
.moviePic {
    height: 400px;
    width: 300px;
    opacity: 0.9;
    display: block;
    margin: 40px auto;
}

.movieDetail {
    position: relative;
    top: 10px;
    width: 60%;
    text-align: center;
    font-size: 18px;
    margin: auto;
}